<div class="af-main-body">

    <div class="af-main-div">
        <style>
            @import url(https://fonts.googleapis.com/css?family=Indie+Flower);
            .af-main-body{
                background: #f5f5f5;
            }
            .active{
                cursor: default;
                background-color: transparent;
                bottom: -3px;
                background-color: rgba(0, 135, 82, 0);
                background-image: -moz-linear-gradient(top, rgba(0, 135, 82, 0), rgba(0, 33, 20, 0.8));
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 135, 82, 0)), to(rgba(0, 33, 20, 0.8)));
                background-image: -webkit-linear-gradient(top, rgba(0, 135, 82, 0), rgba(0, 33, 20, 0.8));
                background-image: -o-linear-gradient(top, rgba(0, 135, 82, 0), rgba(0, 33, 20, 0.8));
                background-image: linear-gradient(to top, rgba(0, 33, 20, 0.8), rgba(0, 135, 82, 0));
                background-repeat: repeat-x;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00008752', endColorstr='#cc002114', GradientType=0);
                -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00008752', endColorstr='#cc002114', GradientType=0);
            }
            .af-main-div{
                margin: -15px;
            }
            .af-header-top{
                height: 68px;
                padding-top: 15px;
                border-bottom: 1px solid #a7ff00;
                background: #72bf44;
            }
            .af-header-bottom{
                margin: 0 0 2px;
                float: left;
                display: block;
                min-width: 100%;
                overflow: visible;
                position: relative;
                font-size: 12px;
                border: none;
                border-top: 1px solid #4d9621;
                border-bottom: 1px solid #376c18;
                -webkit-backface-visibility: hidden;
                filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                background-color: #4d9621;
                height: 50px;
            }

            .af-ul{
                list-style: none;
                position: relative;
                display: inline-flex;
                flex-wrap: wrap;
            }

            .af-li{
                width: 290px;
                padding: 15px;
                border: solid 1px #eee;
                background: #fff;
            }

            .af-li-inner img{
                display: block;
                max-width: 100%;
                height: auto;
                max-height: 175px;
                margin: 0 auto;
            }

            .af-li-title{
                margin-top: 15px;
                margin-bottom: 5px;
                min-height: 50px;
            }

            .af-li-title a{
                font-size: large;
                font-weight: bold;
                color: #005b9c;
                text-decoration: none;
            }

            .af-li-price{
                font-size: x-large;
                display: inline-flex;
            }

            .af-li-price-dollar{
                font-size: 11px;
                margin-top: 5px;
                padding: 1px;
            }
            .af-li-btn{
                width: 100%;
                border-radius: 6px;
                height: 35px;
                background-color: #3da301;
                border-color: #3da301;
                color: #ffffff;
                text-shadow: 0 -1px 0 #32750e;
                font-weight: 700;
                text-align: center;
                padding: 5px;
                margin-top: 15px;
            }

            .af-pagination{
                text-align:center;
            }
            .af-pagination li{
                display: inline;
            }
            .af-pagination li a{
                display: inline-block;
            }

            .af-logo-container{
                padding-top: 5px;
                padding-left: 10px;
            }

            .af-logo-container img{
                max-height: 35px;
                width: auto;
            }

            .af-slogan{
                font-family: 'Indie Flower', cursive;
                color: #fff;
                font-size: 20px;
                margin-top: 15px;
            }



            .main-nav{
                height: 62px;
                margin-top: -15px;
            }
            .main-nav a{
                color: #ffffff;
                line-height: 46px;
                font-weight: bold;
                padding-top: 25px !important;
            }
            .main-nav:hover{
                background-color: none;
            }
        </style>
        <!-- header -->
        <section class="af-header-top col-md-12">
            <div class="container">
                <div class="af-logo-container pull-left">
                    <img src="img/vgrablogohorizontal.png">
                </div>
                <div class="af-slogan pull-right">
                    Seat's for furniture lovers!
                </div>

            </div>
        </section>
        <section class="af-header-bottom col-md-12">
            <div class="container">
                <div class="collapse navbar-collapse hide">
                    <ul class="nav navbar-nav menu">
                        <li class="main-nav active"><a ng-href="https://grabaseat.co.nz/flights" target="_self">home</a></li>
                        <li class="main-nav"><a ng-href="https://grabaseat.co.nz/flights" target="_self">lounge</a></li>
                        <li class="main-nav"><a ng-href="https://grabaseat.co.nz/flights" target="_self">dinning</a></li>
                        <li class="main-nav"><a ng-href="https://grabaseat.co.nz/flights" target="_self">outdoor</a></li>
                        <li class="main-nav"><a ng-href="https://grabaseat.co.nz/flights" target="_self">office</a></li>
                        <li class="main-nav"><a ng-href="https://grabaseat.co.nz/flights" target="_self">industrial</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- body -->
        <div class="af-body col-md-12">
            <div class="container" ng-if="!showPrank" style="margin-top: 30px">

                <!-- breadcrumbs -->
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li>specials</li>
                    </ol>
                </div>

                <div class="col-md-2">
                    <style>
                        .af-fake-vertical-banner{
                            min-width: 100%;
                            height: 300px;
                            background-color: blueviolet;
                        }
                        .af-fake-vertical-banner div{
                            margin-top: 30px;
                            padding-top: 50px;
                            font-family: 'Indie Flower', cursive;
                            font-size: 50px;
                            font-weight: 700;
                            color: #fff;
                            text-align: center;
                        }
                        .af-fake-horizontal-banner{
                            min-width: 100%;
                            height: 100px;
                            background-color: #1e83ad;
                        }
                        .af-fake-horizontal-banner div{
                            padding-top: 15px;
                            font-family: 'Indie Flower', cursive;
                            font-size: 50px;
                            font-weight: 700;
                            color: #fff;
                            text-align: center;
                        }
                        .af-fake-selection-bar{
                            margin-bottom: 30px;
                        }
                    </style>


                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-tag" style="color: red;font-size: 20px;"></span> specials
                        </a>
                        <a href="#" class="list-group-item">lounge</a>
                        <a href="#" class="list-group-item">outdoor</a>
                        <a href="#" class="list-group-item">dinning</a>
                        <a href="#" class="list-group-item">office</a>
                    </div>
                    <!-- banner ad -->
                    <div class="af-fake-vertical-banner">
                        <div>Fake Banner Ad!</div>
                    </div>

                </div>
                <!-- deals -->
                <div class="col-md-10">
                    <!-- vertical banner -->
                    <div class="af-fake-horizontal-banner">
                        <div>Fake Banner Ad!</div>
                    </div>
                    <!-- pagination -->
                    <nav class="af-pagination">
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>

                    <!-- selection bars -->
                    <div class="af-fake-selection-bar col-md-12">

                        <style>
                            .af-fake-selection-content{
                                display: inline-flex;
                            }
                            .af-li-img-div{
                                min-height:175px;
                            }
                        </style>

                        <div class="af-fake-selection-content col-md-6 pull-left">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Latest Seat Specials
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    <li><a href="#">Latest Seat Specials</a></li>
                                    <li><a href="#">Older Seat Specials</a></li>
                                </ul>
                            </div>
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-th-large"></span>
                            </button>
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </button>
                        </div>

                        <div class="col-md-6 af-fake-selection-content pull-right" style="text-align: right">
                            {{afdata.length}} products
                        </div>

                    </div>

                    <ul class="af-ul">
                        <li class="af-li" ng-repeat="item in afdata" data-toggle="modal" data-target="#myModal">
                            <div class="af-li-inner">
                                <div class="af-li-img-div">
                                    <img ng-src="{{item.imgsrc}}">
                                </div>

                                <div class="af-li-title">
                                    <a title="item.title">{{item.title}}</a>
                                </div>

                                <div class="af-li-price">
                                    <div class="af-li-price-dollar">$</div>{{item.price}}
                                </div>

                                <div class="af-li-caption">
                                    {{item.caption}}
                                </div>

                                <div class="af-li-btn">add to cart</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <style>
        .modal-dialog {
            width: 615px !important;
            margin: 75px auto !important;
        }
    </style>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <img src="img/Latest-April-Fools-2016-Jokes-Funny-Pranks-for-Boyfriend-Couples-Through-Text.jpg" class="thumbnail">
            </div>
        </div>
    </div>





</div>